<?xml version="1.0"?>
<launch>
    <arg name="drone" default="bebop1" />
        
    <arg name="namespace" default="bebop" />
    <arg name="ip" default="192.168.42.1" />
    <!-- hull protection: 1 = installed, 0 = not installed -->
    <arg name="hull" default="1" />
    <!-- speed settings: 1 = indoor flight, 0 = outdoor flight -->
    <arg name="outdoorSpeed" default="1" />

    <!-- bebop driver -->
    <arg name="config_file" default="$(find bebop_driver)/config/defaults.yaml" />
    <arg name="camera_info_url" default="package://bebop_driver/data/$(arg drone)_camera_calib.yaml" />
    <group ns="$(arg namespace)">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
            <param name="camera_info_url" value="$(arg camera_info_url)" />
            <param name="bebop_ip" value="$(arg ip)" />
	    <param name="sync_time" value="true" />
            <param name="SpeedSettingsHullProtectionPresent" value="$(arg hull)" />
            <param name="SpeedSettingsOutdoorOutdoor" value="$(arg outdoorSpeed)" />
            <rosparam command="load" file="$(arg config_file)" />
        </node>
        <include file="$(find bebop_description)/launch/description.launch" />
    </group>

   <param name="cmd_vel_limit" value="0.3" type="double"/>
   <param name="cmd_vel_rot_limit" value="0.3" type="double"/>
   <param name="compensation_x" value="-0.02" type="double"/>
   <param name="compensation_y" value="-0.07" type="double"/>
   <param name="compensation_rot" value="-0.01" type="double"/>

   <group ns="yocs_cmd_vel_mux">
   <include file="$(find testing)/launch/joy_teleop_real.launch"/>
   </group>

   <include file="$(find yocs_cmd_vel_mux)/launch/realStandalone.launch"/>

   <node pkg="testing" type="cmdvellimiter" name="cmd_vel_limiter"
	args="/yocs_cmd_vel_mux/bebop/cmd_vel /yocs_cmd_vel_mux/limited/cmd_vel" />

   <node pkg="topic_tools" type="relay" name="cmdvel_relay"
	args="/yocs_cmd_vel_mux/cmd_vel /bebop/cmd_vel" />

   <node pkg="topic_tools" type="relay" name="land_relay"
	args="/yocs_cmd_vel_mux/bebop/land /bebop/land" />

   <node pkg="topic_tools" type="relay" name="takeoff_relay"
	args="/yocs_cmd_vel_mux/bebop/takeoff /bebop/takeoff" />

   <node pkg="topic_tools" type="relay" name="reset_relay"
	args="/yocs_cmd_vel_mux/bebop/reset /bebop/reset" />

   <include file="$(find bebop_model)/launch/realBebopCommon.launch" />

</launch>
