<?xml version="1.0"?>
<launch>
   <param name="use_sim_time" value="true" />
   <arg name="bag" />

   <node pkg="rosbag" type="play" name="rosbag_play"
       args="--clock --pause $(arg bag)" output="screen"/>

<!--<node pkg="testing" type="frodopathy" name="frodopathy_ekf"
	args="/ekf/odometry /ekf/frodopathy"/>

<node pkg="testing" type="frodopathy" name="frodopathy_ukf"
	args="/ukf/odometry /ukf/frodopathy"/>

  <include file="$(find robot_localization)/launch/ekf_bebop.launch" />
  <include file="$(find robot_localization)/launch/ukf_bebop.launch" /> -->

<!--<node pkg="testing" type="ultimetry" name="ultimetry" output="screen"/>

<node pkg="testing" type="eigenserviceprovider" name="service"/>

<node pkg="testing" type="frodopathy" name="frodopathy_tftodo"
	args="/tftodo/odom /tftodo/frodopathy"/>

<node pkg="testing" type="tftodo" name="tftodo" output="screen"
	args="odom dso_transformed tftodo/odom"/>

<node pkg="testing" type="frodopathy" name="frodopathy_tftodo2"
	args="/tftodo/odom2 /tftodo/frodopathy2"/>

<node pkg="testing" type="tftodo" name="tftodo2" output="screen"
	args="odom dso_transformed_two tftodo/odom2"/>

<node pkg="testing" type="frodopathy" name="frodopathy_tftodo"
	args="/tftodo/odom /tftodo/frodopathy"/>

<node pkg="testing" type="frodopathy" name="frodopathy_tftodo2"
	args="/tftodo/odom2 /tftodo/frodopathy2"/>

<node pkg="testing" type="tftodo" name="tftodo" output="screen"
	args="odom dso_transformed tftodo/odom"/>

<node pkg="testing" type="tftodo" name="tftodo2" output="screen"
	args="odom dso_transformed_two tftodo/odom2"/>-->
    


  <include file="$(find bebop_model)/launch/realBebopCommon.launch" />

<!--  <include file="$(find action_controller)/launch/actionController.launch" /> -->

</launch>
